/**********************************
*Autor Piotr Zak
*Data 09.01.2021 r.
*
***********************************/

/*Styl obrazek*/

img.kalifa{

    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Naglowek*/
#Naglowek{

    top:0;
    left:0;
    
}

/*Glowny naglowek*/
#Naglowek h1{

    color:blueviolet;
    text-align:center;
    font-size: 52px;

}
/*Glowny tekst naglowki*/
#Opis h1{
     font-size: 32px;
     text-align: center;
     border: 3px solid green;

}

#Opis h2{
    font-size: 32px;
    text-align: center;
    border: 3px solid red;
}

#Opis h3{
    font-size: 32px;
    text-align: center;
    border: 3px solid blue;
}

#Opis h4{
    font-size: 32px;
    text-align: center;
    border: 3px solid yellowgreen;
}
/*Glowny tekst w paragrafie*/
#Opis p{  
    font-size: 16px;

}
/*Styl naglowka listy*/
#Lista h1{

    font-size: 16px

}

.Kontakt h1{

    font-size: 16px
}
/*Zmiana koloru linkow*/
a[href^="http"]{

color:blue;

}

a:hover {
    background: #e3e3e3;
  }
  
/*Styl stopka*/
.Stopka{

    background-color: rgba(119, 119, 119, 0.644);
    padding: 10px;
    text-align: center;
    color: white;
   
}


